/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh!important;
    background-color: rgb(201, 201, 201);
    font-family: 'Brygada 1918', serif;
}

ul {
    margin-bottom: 0!important;
}


/* Header */

header div img {
    width: 10%;
}

header div div a {
    text-decoration: none;
    color: black;
}

header div div a:hover {
    color: black;
}

header div nav ul li a:hover {
    color: black!important;
    text-decoration: underline;
}

header div nav button {
    color: green;
}


/* section 1 */

.section1 {
    background-image: url(../img/Patoche-bg.jpg);
    background-position: center;
    background-size: cover;
}

.section1 div h2 {
    text-align: center;
}


/* bgcontainerfluid */

.container-fluid {
    background-image: url(../img/Prison-bars.jpg);
}


/* Backgrounds sections */

.castex {
    background-image: url(../img/J34N-C4ST3X.jpg);
    background-position: center;
    background-size: cover;
}

.belfort {
    background-image: url(../img/Belfort.jpg);
    background-position: center;
    background-size: cover;
}

.indexBg {
    background: radial-gradient(grey, white);
}


/* Slider */

.carousel-control-next {
    background-color: transparent;
    border: none;
}

.carousel-control-prev {
    background-color: transparent;
    border: none;
}

.boutonsSlide li a {
    background-color: lightgray;
    color: black;
}

.page-item .page-link {
    background-color: lightgray;
    color: black;
}


/* Accordion */

.accordion-button:focus {
    background-color: lightgray;
}

.accordion-header {
    background-color: lightgray;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: lightgray !important;
}

.maps {
    border-radius: 1.5rem;
}


/* mise en forme cartes/formulaire */

.bgForm {
    background-color: rgba(235, 232, 232, 0.7);
    border-radius: 1em;
}